.pki-custom-commerce-header {
    padding: 20px 50px 20px 50px;
    background: linear-gradient(90deg, #ffffff 0%, #edecec 66%); 
    border-radius: 0; 
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    margin-top: 0 !important;
}

.pki-header-grid {
    display: grid;
    grid-template-columns: 2fr 6fr;
    min-height: 60px;
    width: 100%;
    max-width: 1400px;
    justify-self: center;
}

.pki-header-column {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
}

.pki-header-column:first-child {
    justify-content: flex-start;
    margin-top: 0px;
}

.pki-header-column:last-child {
    justify-content: flex-end;
}

.pki-header-column slot {
    display: flex;
    justify-content: flex-end;
    min-height: 50px;
    align-items: center;
}

.pki-mnav-mobile {
    display: none !important;
}

.pki-header-inner-grid {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 8fr 3fr 1fr 0fr;
    align-items: end;
    min-height: 50px;
    width: 100%;
    background-color: transparent; 
}

.pki-header-inner-column {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}


.pki-page-title h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-left: 1rem;
    padding: 1rem 0;
    text-align: left;
    color: #FFFFFF;
}

.pki-header-search {
    justify-content: center;
    justify-self: center;
}

.pki-search-icon, .pki-cancel-icon {
    margin: 4px 4px 0px 0px;
    fill: rgb(0 82 163);
    height: 22px !important;
    width: 22px !important;
    cursor: pointer;
}

.mobile-search {
    display: none !important;
}
.hide-for-desktop {
    display: none;
}

/* By ST start */
.pki-mnav-desktop{
    max-width: 130px;
}
/* By ST end */


@media screen and (max-width: 767px) {
    .pki-custom-commerce-header {
        padding: 10px 15px;
    }

    .pki-header-grid {
        /* grid-template-columns: 1fr 3fr; */
        grid-template-columns: 2fr 5fr;
        gap: 5px;
    }

    .pki-mnav-mobile {
        display: block !important;
    }

    .pki-mnav-logo-desktop{
        display: none !important;
    }

    .pki-mnav-mobile button.slds-button.slds-button_icon.slds-button_icon-bare {
        color: #0054A6;
    }

    .pki-header-inner-grid {
        grid-template-columns: 14fr 12fr;
        gap: 10px;
        align-items: center;
        justify-content: end;
    }

    .pki-mnav-desktop {
        max-width: 100px;
    }
    
    .pki-page-title h1 {
        font-size: 1.5rem;
        margin-left: 0.5rem;
    }

    .pki-header-search {
        margin-top: 15px;
        flex-direction: column;
        font-size: 14px !important;
        width: 100%;
    }

    slot[name="logo"] {
        position: absolute;
        left: 60%;
        transform: translateX(-50%);
        z-index: 1;
        top: 5px;
        max-height: 0%;
    }

    /* .pki-header-column:first-child {
        position: relative;
        padding-top: 12px;
    } */
    /* .pki-header-column:last-child {
        padding-bottom: 12px;
    } */
    .pki-header-inner-column {
        justify-content: flex-end;
        align-items: flex-end;
    }
    .mobile-search {
        display: block !important;
        fill: #000000 !important;
    }
    .hide-for-desktop {
        display: block;
    }
    .desktop-search {
        display: none !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px){

    .pki-header-grid{
        grid-template-columns: 2fr 20fr;
    }

    .pki-mnav-desktop, .pki-header-search {
        font-size: 14px !important;
    }
    .pki-header-inner-grid {
        grid-template-columns: 12fr 0fr 0fr 0fr;
        gap: 14px !important;
        align-items: center;
    }
    .pki-header-search {
        width: 100%;
    }
    .mobile-search {
        display: block !important;
        fill: #000000 !important;
    }
    .desktop-search {
        display: none !important;
    }
    .hide-for-desktop {
        display: block;
    }

    .pki-mnav-mobile {
        display: block !important;
    }

    .pki-mnav-logo-desktop{
        display: none !important;
    }
}