.header {
    border-bottom: 1px solid #afafaf;
    padding: 1rem;
    margin-bottom: 1rem;
}
.item-card {
    /* border: 1px solid #e1e1e1; */
    border-bottom: 1px solid #edecec;
    padding: 1rem;
}