.childCategory-label::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -0px; 
    width: 0; 
    height: 2px; 
    background-color: currentColor; 
    transition: width 0.3s ease-in-out;
}

.childCategory-label:hover::after{
    width: 100%; 
}

.childCategory-label{
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 0.3rem;
    color: var(--dxp-c-link-text-color, var(--dxp-s-link-text-color, var(--dxp-g-brand)));
    /*  */
    position: relative;
    display: inline-block; 
    cursor: pointer; 
    text-decoration: none;
}