.spinner{
    border-radius: .3em;
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 9999;
}

.loadingText {
    position: absolute;
    width: 20rem;
    text-align: center;
    top: calc(50% + 3rem);
    left: calc(50% + -10rem);
    font-weight: bold;
    color: #ffffff;
    overflow: hidden;
}