.custom-footer {
    background-color: #f8f9fa;
    color: #333;
}

.custom-footer a {
    color: #000000;
    text-decoration: none;
}

.custom-footer a:hover {
    color: rgb(3, 3, 216);
}

.slds-text-title_bold {
    font-size: 16px;
    margin-bottom: 10px;
}

.slds-p-around_small {
    padding: 10px;
}